.button.primary{
  background-color: #1976d2;
  color:white;
  width:150px;
  height:30px;
  border-radius: 5px;
  border:none;
  text-transform: uppercase;
  font-weight: 700;
} 
.button.secondary{
  background-color: rgb(220, 0, 78);
  color:white;
  width:180px;
  height:30px;
  border-radius: 5px;
  border:none;
  text-transform: uppercase;
  font-weight: 700;
}